{% extends "base.html" %}

{% block content %}
<main class="home-container">

    <div class="search-card">
        <h2>Olá, {{ request.user.first_name|default:request.user.username }}! <br> AVALIE OU PESQUISE</h2>
        
        <form action="{% url 'lista_professores' %}" method="get">
            <input type="text" name="q_professor" placeholder="Pesquisar por nome do professor(a)...">
            <input type="text" name="q_disciplina" placeholder="Pesquisar por disciplina...">
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <div class="average-card">
        <div class="average-text">
            <h3>Avaliação Geral da faculdade</h3>
        </div>
        
        <div class="average-score" style="position: relative;">
            <div class="donut-chart" style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                
                /* CORREÇÃO 3: Gráfico dinâmico. Usa a variável de porcentagem */
                background: conic-gradient(var(--verde) {{ media_percent_faculdade|floatformat:0 }}%, var(--azul-marinho) 0); 
                
                display: flex;
                align-items: center;
                justify-content: center;">
                
                <div style="
                    width: 80px;
                    height: 80px;
                    background-color: white;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 15px;
                    box-sizing: border-box;">
                    
                    <strong style="font-size: 1.5rem; color: var(--verde);">{{ media_geral_faculdade|floatformat:2 }}</strong>
                    
                    <span style="font-size: 0.7rem; color: var(--cinza-escuro-letras); display: block; margin-top: -5px;">Média</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-cards-row">

        <a href="/ranking" class="mini-card" style="text-decoration: none;">
            <i class="fa-solid fa-trophy"></i>
            <span>Ranking Geral</span>
        </a>

        <a href="/comparacao" class="mini-card" style="text-decoration: none;">
            <i class="fa-solid fa-balance-scale"></i>
            <span>Comparação</span>
        </a>

        <div class="mini-card">
            <small>Avaliações Realizadas</small>
            <strong>{{ total_avaliacoes }}</strong>
        </div>

    </div>

</main>
{% endblock content %}